:root {
  --global-color-primary: #00eca2;
  --global-color-primary-muted: #00c0ec;
  --global-color-secondary: #ec004a;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

h6 {
  margin-bottom: 0;
}

#mainContainer {
  margin-top: 50px;
}

.resultsHeader,
#noResults {
  display: flex;
  gap: 10px;
}

.searchResultsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardContainer:last-child {
  margin-bottom: 20px;
}

#noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primaryColor {
  background-color: var(--global-color-primary);
  border: 1px solid var(--global-color-primary);
}

.primaryColor:hover {
  background-color: var(--global-color-primary-muted);
  border: 1px solid var(--global-color-primary-muted);
}

.primaryOutline {
  background-color: transparent;
  color: var(--global-color-primary);
  border: 1px solid var(--global-color-primary);
}

.primaryOutline:hover {
  background-color: transparent;
  color: var(--global-color-primary);
}

#loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

#loadingContainer p {
  margin-top: 10px;
}

.deskio-green {
  color: #00c0ec;
}
