.btn:first-child:active {
  background-color: var(--global-color-primary);
}

span {
  margin-right: 10px;
}

.brand-title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.user-callout {
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

